/* =================================
  Base Element Styles
	HTML
	BODY
	H1-H4
	P
	Table
	Button
	Focus
	Image
	Wrap

put this in .main-header
		background-image: url(../img/SBlogo.png);
==================================== */
.containerparallax {
  padding-top: 80px;
	width: 60%;
	margin: 0 auto;
}

.container {
  width: 60%;
	margin: 0 auto;
}


p {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
}

body {
  text-align: left;
	line-height: 1.6;
	margin: 0, auto;
	color: #3a3a3a;
	background: linear-gradient(#eef3f6, #bdd2db);
}

.main-footer {
	text-align: center;
	padding: 2em 0;
	background-color: #474747;
	color: white;
}


/* =================================
Navigation

==================================== */
.main-nav ul li {
	text-align: center;
	margin-top: 6px;
	margin-bottom: 6px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
  display: inline;
  font-family: 'Dosis', sans-serif;
  display: block;

}
.main-nav ul {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  margin: 10%;
}

.main-nav ul li {
  font-family: 'Dosis', sans-serif;
display: block;
 padding: 0 1em;
 line-height: 3em;
 text-transform: uppercase;
float: none;
}





a {
 color: #FAF8F0;
}

a:hover,
a:focus  {
 color: #5B8FA6;
}





#logo {
  background-repeat: no-repeat;
  position: absolute;
  display: block;


}



.floatingMenu {
  background: #474747;
	align: center;
	background-repeat: no-repeat;
	height: 1em;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 2.5em 0;
}


h2 {
  display: inline-block;
  font-size: 26px;
  font-family: 'Dosis', sans-serif;
  font-style: oblique;
	color: #DD3B2B;
}
/*----------------------
  $NAVBAR
    basic navbar styling

		nav ul li:hover {
		  background: #5B8FA6;

		}
  ----------------------*/






/* =================================
  Image
==================================== */

.img1 {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}



/* =================================
           Media Queries
==================================== */

@media (min-width: 769px) {
.wrap {
	min-height: calc(100vh - 89px); /* 100vh = view port height*/
}



.name,
.main-nav,
.main-nav li {
  display: inline-block;
  font-family: 'Dosis', sans-serif;
}


p {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
}


@media (min-width: 1025px) {

  .parallax {
  	background-image: url(../img/computer.jpg);
  	height: 150px;
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: 100%;
  	color: white;
  	padding: 10% 10%;
  	font-weight: normal;
  }

  .containerparallax {
    padding: 20px 20px;
    width: 60%;
  	margin: 0 auto;
  }



}
